{% extends "bootstrap.html.twig" %}
{% block content %}
    <h1 class="text-center">PHP data structure</h1>
    <div class="row mb-4">
        <p>
            In php we have array represented as hashmap also it's a liked list we can add elements to it dynamically. Like so:
        </p>
        <script src="https://cdn.snipit.io/e.js" data-sid="50739"></script>
        <p>
            As I said earlier it's hashmap. Key of array might be a string as well.
        </p>
        <script src="https://cdn.snipit.io/e.js" data-sid="50740"></script>
    </div>
{% endblock %}