{% extends "layout.html.twig" %}
{% block content %}
    <div class="column1" style="margin-top: 10px;height: 50%;margin-left: 25%;width: 50%">
        <div class="card" style="background-color: #17a2b8">
            <form action="multiplication.php" method="post">
                Nombre:<input type="text" name="vala"> <br><br>
                <input type="submit" value="Calculer"><br><br>
                {% for num in nums %}
                    <div class="card" >
                        <div class="card-body">
                            <p class="card-text">{{ num }}</p>
                        </div>
                    </div>
                {% endfor %}

            </form>
        </div>
    </div>

{% endblock %}